.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  min-width: 100vw;
  min-height: 100vh;
  background-color: aqua;
}
#dropdown-menu {
  background-color: bisque;
  height: 300px;
  width: 200px;
  overflow: scroll;
  /* overflow: hidden; */
}
#dropdown-menu::-webkit-scrollbar {
  display: none;
}
.search-gif {
  height: 150px;
  width: 200px;
}

.post-card-body {
  min-height: 100px;
}
.post-img-user {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.post-img {
  height: 300px;
}
